{% extends 'layouts/main.twig' %}

{% block title %}{{ parent() }} - Create Tables {% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block pageTitle %} Create Tables {% endblock %}


{% block content %}
    <h3>{{ msg }}</h3>
{% endblock %}