{% extends 'layouts/main.twig' %}

{% block title %}{{ parent() }} - home {% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block pageTitle %} Index {% endblock %}

{% block breadcrumbs %}
	<li><a href="#">Home</a></li>
	<li class="active">Index</li>
{% endblock %}


{% block content %}
	<p>Index content</p>
{% endblock %}