{% extends 'layouts/main.twig' %}

{% block title %}{{ parent() }} - home {% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block pageTitle %} HOME {% endblock %}


{% block content %}
	<p>Index content</p>
{% endblock %}