{% extends 'layouts/main.twig' %}

{% block title %}{{ parent() }} - Create {% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block pageTitle %}  {% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ path('home') }}">Home</a></li>
    <li><a href="{{ path('products') }}">Products</a></li>
    <li class="active">Create Product</li>
{% endblock %}


{% block content %}
    <div class="card">
        <div class="card-header">
            <strong>Create Product</strong>
        </div>
        <div class="card-body card-block">
            <form action="" method="post" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Email</label></div>
                    <div class="col-12 col-md-9"><input id="hf-email" name="hf-email" placeholder="Enter Email..." class="form-control" type="email"><span class="help-block">Please enter your email</span></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="hf-password" class=" form-control-label">Password</label></div>
                    <div class="col-12 col-md-9"><input id="hf-password" name="hf-password" placeholder="Enter Password..." class="form-control" type="password"><span class="help-block">Please enter your password</span></div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
            <button type="reset" class="btn btn-danger btn-sm">
                <i class="fa fa-ban"></i> Reset
            </button>
        </div>
    </div>
{% endblock %}