{% extends 'layouts/main.twig' %}

{% block title %}{{ parent() }} - Products {% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block head_links %}
    <link rel="stylesheet" href="src/assets/css/lib/datatable/dataTables.bootstrap.min.css">
{% endblock %}

{% block pageTitle %} Products {% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ path('home') }}">Home</a></li>
    <li class="active">Products</li>
{% endblock %}


{% block content %}
    {% include 'product/data_table.twig'  with {'products' : products} %}

{% endblock %}

{% block scripts %}

    <script src="src/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="src/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="src/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="src/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="src/assets/js/lib/data-table/jszip.min.js"></script>
    <script src="src/assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="src/assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="src/assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="src/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="src/assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="src/assets/js/lib/data-table/datatables-init.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {
            $('#bootstrap-data-table-export').DataTable();
        } );
    </script>
{% endblock %}
