{% extends 'layouts/main.twig' %}

{% block title %}{{ parent() }} - Create {% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}
{% block pageTitle %}  {% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ path('home') }}">Home</a></li>
    <li><a href="{{ path('products') }}">Products</a></li>
    <li class="active">Create Product</li>
{% endblock %}


{% block content %}

    <div class="card">
        <div class="card-header">
            <strong>Create Product</strong>
        </div>
        <div class="card-body card-block">

            {% include 'product/product_form.twig'  with {
                'product' : product,
                'view' :  path('product_update', { 'id' : product.id })
            } %}

        </div>

    </div>

{% endblock %}